---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/ui/Navbar.astro";
import Welcome from "../components/home/Welcome.astro";
---

<Layout title="Heyder Medina - Portfolio">
	<Navbar />
	<main class="flex flex-col min-h-screen w-full py-24 px-48">
		<Welcome />
	</main>
</Layout>
