---
import SectionTitle from "../ui/SectionTitle.astro";
import AboutIcon from "../../icons/AboutIcon.astro";
---

<section class="flex flex-col w-full gap-8">
    <SectionTitle title="About me" Icon={AboutIcon} />

</section>