---
import SectionTitle from "../ui/SectionTitle.astro";
import BookIcon from "../../icons/BookIcon.astro";
import EducationIcon from "../../icons/EducationIcon.astro";
import RectangularCard from "../ui/RectangularCard.astro";
---

<section class="flex flex-col w-full gap-8">
    <SectionTitle title="Education" Icon={BookIcon} />

    <div class="flex flex-col gap-4">
        <RectangularCard
            Icon={EducationIcon}
            schoolName="Universidad Tecnológica Metropolitana"
            career="Engineering in Software Development and Management"
            date="Sept. 2025 - Jul. 2026"
        />

        <RectangularCard
            Icon={EducationIcon}
            schoolName="Universidad Tecnológica Metropolitana"
            career="Higher Technical Degree in Information and Communication Technologies (ICT)"
            date="Sept. 2023 - Jun. 2025"
        />
    
        <RectangularCard
            Icon={EducationIcon}
            schoolName="Conalep Mérida 1"
            career="Technical High School Degree in Computer Science"
            date="Sept. 2020 - Jun. 2023"
        />
    </div>
</section>
