---
import SectionTitle from "../ui/SectionTitle.astro";
import ProjectsIcon from "../../icons/ProjectsIcon.astro";
import Card from "../ui/Card.astro";
---

<section id="projects" class="flex flex-col gap-8">
  <div class="fade-up-view">
    <SectionTitle title="Projects" Icon={ProjectsIcon} />
  </div>

  <div class="grid grid-cols-2 gap-6">
    <Card
      previewLink="https://mayanlifeyucatan.com/"
      projectTitle="Mayan Life Inmobiliaria Web"
      projectDescription="Mayan Life is a real estate website designed to showcase properties in a clear and easy-to-navigate way. It allows users to explore listings through filters, image galleries, and detailed information, offering a smooth experience for clients and visitors. Additionally, it includes an admin panel for managing properties and user roles."
      imageSrc="images/mayanlife.png"
      imageAlt="Vista previa del sitio web de Mayan Life"
      techs={["NextJs", "TailwindCSS", "Express", "PostgreSQL"]}
    />

    <Card
      githubLink="https://github.com/spricew/Keidot-Project"
      projectTitle="Keidot App"
      projectDescription="Keidot is a mobile app that connects clients with workers quickly and safely. It allows users to request gardening services and displays nearby workers based on location. The process includes requesting a service, worker acceptance, and secure payment. The app also features a review system to ensure quality. Keidot aims to be a modern and accessible solution for those who need help in their garden and for individuals looking to earn extra income."
      imageSrc="images/keidot.png"
      imageAlt="Keidot App"
      techs={["Flutter", "Dart"]}
    />

    <Card
      previewLink="https://heyder-medina-portfolio.vercel.app/"
      githubLink="https://github.com/spricew/Portfolio"
      projectTitle="Personal portfolio"
      projectDescription="My personal portfolio is a website where I showcase who I am, what I do, and the projects I've built. I developed it using Astro and Tailwind to achieve a clean and easy-to-navigate design. It includes informative sections, all intended to present my work clearly. It's a space I will continue improving as I learn new things, and it represents my journey and growth as a web developer."
      imageSrc="images/portfolio.png"
      imageAlt="Portafolio personal"
      techs={["AstroJs", "TailwindCSS"]}
    />
  </div>
</section>