---
import SectionTitle from "../ui/SectionTitle.astro"
import ProjectsIcon from "../../icons/ProjectsIcon.astro"
import Card from "../ui/Card.astro"
---
<section class="flex flex-col gap-8">
    <SectionTitle
      title="Projects"
      Icon={ProjectsIcon}
    />
  
    <div class="grid grid-rows-[repeat(auto-fit,minmax(34rem,1fr))] grid-cols-2 gap-6 h-fit overflow-hidden">
        <Card 
        previewLink = "https://gsap.com/docs/v3/Plugins/SplitText",
        githubLink = "https://github.com/spricew/Portfolio",
        projectTitle = "Portafolio personal",
        projectDescription = "Lorem ipsum dolor sit amet consectetur adipiscing elit, massa aliquet quisque eu ultricies parturient mi, curae hendrerit augue duis cubilia suscipit. Imperdiet posuere fames suspendisse urna ad etiam mollis tellus egestas, diam habitant ultrices natoque platea per scelerisque malesuada ac himenaeos, bibendum nulla nullam"
        imageSrc = "/images/image.png",
        imageAlt = "Portafolio personal",
        techs = {["AstroJs", "TailwindCSS"]}
        />

        <Card 
        imageSrc = "https://cdn-images.dzcdn.net/images/cover/a7a16b8f63b1ec0e9fbd327619966737/1900x1900-000000-81-0-0.jpg",
        imageAlt = "Project Image 1",
        projectTitle = "Cifrador de textos",
        projectDescription = "Lorem ipsum dolor sit amet consectetur adipiscing elit, massa aliquet quisque eu ultricies parturient mi, curae hendrerit augue duis cubilia suscipit. Imperdiet posuere fames suspendisse urna ad etiam mollis tellus egestas, diam habitant ultrices natoque platea per scelerisque malesuada ac himenaeos, bibendum nulla nullam"/>
    </div>
</section>