---
import SectionTitle from "../ui/SectionTitle.astro";
import ProjectsIcon from "../../icons/ProjectsIcon.astro";
import Card from "../ui/Card.astro";
---

<section class="flex flex-col gap-8">
  <SectionTitle title="Projects" Icon={ProjectsIcon} />

  <div
    class="grid grid-cols-2 gap-6 overflow-hidden"
  >
    <Card
      previewLink="https://heyder-medina-portfolio.vercel.app/"
      githubLink="https://github.com/spricew/Portfolio"
      projectTitle="Portafolio personal"
      projectDescription="Mi portafolio personal es un sitio web donde muestro quién soy, qué hago y los proyectos que he creado. Lo desarrollé con Astro y Tailwind para lograr un diseño limpio y fácil de navegar. Incluye secciones informativas, todas pensadas para que conozcas mi trabajo de forma clara. Es un espacio que iré mejorando con el tiempo conforme aprenda nuevas cosas. Es mi manera de compartir mi proceso y crecimiento como desarrollador web."
      imageSrc="images/portfolio.png"
      imageAlt="Portafolio personal"
      techs={["AstroJs", "TailwindCSS"]}
    />

    <Card
      githubLink="https://github.com/spricew/Keidot-Project"
      projectTitle="Keidot App"
      projectDescription="Keidot es una app móvil que conecta a clientes con trabajadores de forma rápida y segura. Permite solicitar servicios de jardinería, mostrando a los trabajadores cercanos. El proceso incluye solicitud, aceptación y pago seguro. La app también ofrece un sistema de reseñas para mantener la calidad del trabajo. Keidot busca ser una solución moderna y accesible tanto para quienes necesitan ayuda en su jardín como para quienes desean generar ingresos extra."
      imageSrc="images/keidot.png"
      imageAlt="Keidot App"
      techs={["Flutter", "Dart"]}
    />

    <Card
      previewLink="https://mayanlifeyucatan.com/"
      projectTitle="Mayan Life Inmobiliaria Web"
      projectDescription="Mayan Life es un sitio web inmobiliario diseñado para mostrar propiedades de forma clara y fácil de navegar. Permite explorar inmuebles con filtros, galerías de imágenes y detalles completos para ofrecer una navegación práctica a clientes y visitantes. Adicionalmente ofrece un panel de administración para el manejo de propiedades y roles."
      imageSrc="images/mayanlife.png"
      imageAlt="Vista previa del sitio web de Mayan Life"
      techs={["NextJs", "TailwindCSS", "Express", "PostgreSQL"]}
    />
  </div>
</section>
