---
import SectionTitle from "../ui/SectionTitle.astro";
import SkillsIcon from "../../icons/SkillsIcon.astro";
---

<section class="flex flex-col w-full gap-8">
  <SectionTitle title="Skills" Icon={SkillsIcon} />
</section>
