---
// icons
import InstagramIcon from "../icons/instagramIcon.astro";
import FacebookIcon from "../icons/facebookIcon.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import LinkedInIcon from "../icons/linkedinIcon.astro";
---

<ul class="flex gap-4 text-base text-defaultWhite">
    <a href="#" class="socialLink" target="_blank">
        <InstagramIcon class="size-5" />
        <!-- Instagram -->
    </a>
    <a href="#" class="socialLink" target="_blank">
        <FacebookIcon class="size-5" />
        <!-- Facebook -->
    </a>
    <a href="#" class="socialLink" target="_blank">
        <GithubIcon class="size-5" />
        <!-- Github -->
    </a>
    <a href="#" class="socialLink" target="_blank">
        <LinkedInIcon class="size-5" />
        <!-- LinkedIn -->
    </a>
</ul>

<style>
    .socialLink {
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 0.4rem;
        transition: 0.3s ease-out;
        background-color: var(--color-tertiary-300);
        color: var(--color-defaultBlack);
        padding: 0.6rem;
        border-radius: 100%;
    }

    .socialLink:hover {
        transition: 0.3s ease-out;
        transform: scale(1.05);
        opacity: 70%;
    }
</style>
