---
import InstagramIcon from "../../icons/instagramIcon.astro";
import MailIcon from "../../icons/MailIcon.astro";
import GithubIcon from "../../icons/GithubIcon.astro";
import LinkedInIcon from "../../icons/linkedinIcon.astro";
---

<ul class="h-full flex gap-3 text-base text-white">
    <a href="mailto:medinaheyder@gmail.com" class="socialLink">
        <MailIcon class="size-5" />
    </a>
    <!-- <a href="https://www.instagram.com/momichisthegoat?igsh=OWp4aTZkZHc1N20%3D&utm_source=qr" class="socialLink" target="_blank">
        <InstagramIcon class="size-5" />
    </a> -->
    <a href="https://github.com/spricew" class="socialLink" target="_blank">
        <GithubIcon class="size-5" />
    </a>
    <a href="https://www.linkedin.com/in/heyderix/" class="socialLink" target="_blank">
        <LinkedInIcon class="size-5" />
    </a>
</ul>

<style>
    .socialLink {
        display: flex;
        height: 100%;
        aspect-ratio: 1/1;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease-out;
        background-color: var(--color-tertiary-300);
        color: var(--color-tertiary-950);
        border-radius: 100%;
    }

    .socialLink:hover {
        transform: scale(1.05);
        opacity: 0.6;
    }
</style>
