---
// icons
import InstagramIcon from "../icons/instagramIcon.astro";
import FacebookIcon from "../icons/facebookIcon.astro";
import TiktokIcon from "../icons/tiktokIcon.astro";
import LinkedInIcon from "../icons/linkedinIcon.astro";
---

<ul class="flex gap-4 text-base text-defaultWhite">
    <a href="#" class="socialLink" target="_blank">
        <InstagramIcon class="size-5" />
        <!-- Instagram -->
    </a>
    <a href="#" class="socialLink" target="_blank">
        <FacebookIcon class="size-5" />
        <!-- Facebook -->
    </a>
    <a href="#" class="socialLink" target="_blank">
        <TiktokIcon class="size-5" />
        <!-- Tiktok -->
    </a>
    <a href="#" class="socialLink" target="_blank">
        <LinkedInIcon class="size-5" />
        <!-- LinkedIn -->
    </a>
</ul>
