---
import HtmlIcon from "../../icons/techs/HtmlIcon.astro";
import CssIcon from "../../icons/techs/CssIcon.astro";
import JsIcon from "../../icons/techs/JsIcon.astro";
import ReactIcon from "../../icons/techs/ReactIcon.astro";
import NextIcon from "../../icons/techs/NextIcon.astro";
import AstroIcon from "../../icons/techs/AstroIcon.astro";
import TailwindIcon from "../../icons/techs/TailwindIcon.astro";
import BootstrapIcon from "../../icons/techs/BootstrapIcon.astro";
import FlutterIcon from "../../icons/techs/FlutterIcon.astro";
import DartIcon from "../../icons/techs/DartIcon.astro";
import FigmaIcon from "../../icons/techs/FigmaIcon.astro";
import IllustratorIcon from "../../icons/techs/IllustratorIcon.astro";
import GitIcon from "../../icons/techs/GitIcon.astro";
import GithubIcon from "../../icons/techs/GithubIcon.astro";
import VercelIcon from "../../icons/techs/VercelIcon.astro";
import PosgresIcon from "../../icons/techs/PostgresIcon.astro";
import MongoIcon from "../../icons/techs/MongoIcon.astro";
import CsharpIcon from "../../icons/techs/CsharpIcon.astro";
import NpmIcon from "../../icons/techs/NpmIcon.astro";
---

<section class="flex flex-col w-full gap-6">
    <h2 class="text-4xl tracking-wide font-semibold text-defaultWhite">
        Technologies
    </h2>
      

    <div class="techs w-full h-[20rem]">
        <div class="flex items-center justify-center bg-white/10 rounded-3xl outline-[0.50px] outline-white/25 backdrop-blur-lg">
            <HtmlIcon className="h-12 w-12" />
        </div>

        <div class="flex items-center justify-center bg-white/10 rounded-3xl outline-[0.50px] outline-white/25 backdrop-blur-lg">
            <CssIcon className="h-12 w-12" />
        </div>

        <div class="flex items-center justify-center bg-white/10 rounded-3xl outline-[0.50px] outline-white/25 backdrop-blur-lg">
            <JsIcon className="h-12 w-12" />
        </div>

        <div class="flex items-center justify-center bg-white/10 rounded-3xl outline-[0.50px] outline-white/25 backdrop-blur-lg">
            <ReactIcon className="h-12 w-12" />
        </div>

        <div class="flex items-center justify-center bg-white/10 rounded-3xl outline-[0.50px] outline-white/25 backdrop-blur-lg">
            <NextIcon className="h-12 w-14 object-cover" />
        </div>

        <div class="flex items-center justify-center bg-white/10 rounded-3xl outline-[0.50px] outline-white/25 backdrop-blur-lg">
            <AstroIcon className="h-12 w-12" />
        </div>

        <div class="flex items-center justify-center bg-white/10 rounded-3xl outline-[0.50px] outline-white/25 backdrop-blur-lg">
            <TailwindIcon className="h-12 w-12" />
        </div>

         <div class="flex items-center justify-center bg-white/10 rounded-3xl outline-[0.50px] outline-white/25 backdrop-blur-lg">
            <BootstrapIcon className="h-12 w-12" />
        </div>

        <div class="flex items-center justify-center bg-white/10 rounded-3xl outline-[0.50px] outline-white/25 backdrop-blur-lg">
            <FlutterIcon className="h-12 w-14" />
        </div>

        <div class="flex items-center justify-center bg-white/10 rounded-3xl outline-[0.50px] outline-white/25 backdrop-blur-lg">
            <DartIcon className="h-12 w-12" />
        </div>

        <div class="flex items-center justify-center bg-white/10 rounded-3xl outline-[0.50px] outline-white/25 backdrop-blur-lg">
            <FigmaIcon className="h-12 w-12" />
        </div>

         <div class="flex items-center justify-center bg-white/10 rounded-3xl outline-[0.50px] outline-white/25 backdrop-blur-lg">
            <IllustratorIcon className="h-12 w-12" />
        </div>

        <div class="flex items-center justify-center bg-white/10 rounded-3xl outline-[0.50px] outline-white/25 backdrop-blur-lg">
            <GitIcon className="h-12 w-12" />
        </div>

        <div class="flex items-center justify-center bg-white/10 rounded-3xl outline-[0.50px] outline-white/25 backdrop-blur-lg">
            <GithubIcon className="h-12 w-12" />
        </div>

        <div class="flex items-center justify-center bg-white/10 rounded-3xl outline-[0.50px] outline-white/25 backdrop-blur-lg">
            <VercelIcon className="h-14 w-16 object-cover" />
        </div>

        <div class="flex items-center justify-center bg-white/10 rounded-3xl outline-[0.50px] outline-white/25 backdrop-blur-lg">
            <PosgresIcon className="h-12 w-12" />
        </div>

        <div class="flex items-center justify-center bg-white/10 rounded-3xl outline-[0.50px] outline-white/25 backdrop-blur-lg">
            <MongoIcon className="h-12 w-12" />
        </div>

        <div class="flex items-center justify-center bg-white/10 rounded-3xl outline-[0.50px] outline-white/25 backdrop-blur-lg">
            <CsharpIcon className="h-12 w-12" />
        </div>

        <div class="flex items-center justify-center bg-white/10 rounded-3xl outline-[0.50px] outline-white/25 backdrop-blur-lg">
            <NpmIcon className="h-12 w-12" />
        </div>

    </div>
</section>

<style>
   .techs {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-template-rows: repeat(3, 1fr);
        gap: 1rem;
    }
</style>
