---
import { Image } from "astro:assets";

import Socials from "../home/Socials.astro";
import CustomButton from "../ui/CustomButton.astro";
import DownloadIcon from "../../icons/DownloadIcon.astro";
---

<section
    class="flex flex-col lg:flex-row items-center justify-center gap-6 md:gap-10 w-full h-fit lg:h-[15rem] mb-6"
>
    <!-- Imagen -->
    <figure
        class="scale-in relative flex shrink-0 h-60 lg:h-full aspect-square rounded-full overflow-hidden ring-1 ring-white/25 bg-white/15"
    >
        <Image
            src="https://res.cloudinary.com/deyv1rwqh/image/upload/v1763430013/memoji_pfp_iobatg.png"
            alt="Portrait of Heyder Medina"
            class="w-full h-full z-10 object-cover object-center"
            loading="lazy"
            decoding="async"
            width={100}
            height={100}
        />
        
        <!-- image blurred -->
        <Image
            src="https://res.cloudinary.com/deyv1rwqh/image/upload/v1763430013/memoji_pfp_iobatg.png"
            alt="Portrait of Heyder Medina"
            class="absolute blur-2xl scale-90 animate-pulse -rotate-12 z-9 w-full h-full object-cover object-center"
            loading="lazy"
            decoding="async"
            width={100}
            height={100}
            aria-hidden="true"
        />
    </figure>

    <!-- Texto -->
    <div class="flex flex-col h-full w-full justify-between">
        <header>
            <h1 class="slide-in text-3xl md:text-5xl text-center md:text-start font-semibold text-white"
            style={"animation-delay: 0.1s"}>
                Hi, I'm Heyder Medina
            </h1>
            <h2 class="slide-in relative text-lg md:text-xl text-center lg:text-start font-medium text-tertiary-300 font-['Figtree']"
            style={"animation-delay: 0.2s"}>
                Junior Software Developer
            </h2>
        </header>
        <p class="slide-in text-lg tracking-wide max-w-3xl text-balance text-white"
        style={"animation-delay: 0.3s"}>
            I'm a software developer with experience in building modern and
            efficient web applications. I have a passion for frontend
            development and enjoy creating beautiful and functional user
            interfaces. I'm always eager to learn new technologies and improve
            my skills.
        </p>
        <div id="btnContainer" class="scale-in flex gap-3 items-center w-fit"
        style={"animation-delay: 0.3s"}>
            <CustomButton
                text="Download CV"
                Icon={DownloadIcon}
                textColor="text-white"
                hoverTextColor="hover:text-tertiary-300"
                hoverBgColor="hover:bg-tertiary-950/10"
                href="/CV_Heyder.pdf"
                download={true}
            />
            <Socials />
        </div>
    </div>
</section>