---
import Socials from "../home/Socials.astro";
import CustomButton from "../ui/CustomButton.astro";
import DownloadIcon from "../../icons/DownloadIcon.astro";
---

<section
    class="flex md:flex-row items-center justify-start gap-10 w-full h-[15rem] mb-6"
>
    <!-- Imagen -->
    <figure
        class="flex shrink-0 h-full aspect-square rounded-full overflow-hidden ring-1 ring-white/25 bg-white/15"
    >
        <img
            src="https://res.cloudinary.com/deyv1rwqh/image/upload/v1763430013/memoji_pfp_iobatg.png"
            alt="Portrait of Heyder Medina"
            class="w-full h-full object-cover object-center"
            loading="lazy"
            decoding="async"
        />
    </figure>

    <!-- Texto -->
    <div class="flex flex-col h-full w-fit justify-between">
        <header>
            <h1 class="text-4xl md:text-5xl font-semibold text-white">
                Hi, I'm Heyder Momichis
            </h1>
            <h2 class="relative top-4 text-lg md:text-xl font-medium text-tertiary-300 font-['Figtree']">
                Junior Software Developer
            </h2>
        </header>
        <p class="text-lg tracking-wide text-balance text-white">
            I'm a software developer with experience in building modern and
            efficient web applications. I have a passion for frontend
            development and enjoy creating beautiful and functional user
            interfaces. I'm always eager to learn new technologies and improve
            my skills.
        </p>
        <div class="flex gap-3 items-center">
            <!-- TODO: IMPLEMENTAR ARCHIVO DE CURRICULUM -->
            <CustomButton
                text="Download CV"
                Icon={DownloadIcon}
                textColor="text-white"
                hoverTextColor="hover:text-tertiary-300"
                hoverBgColor="hover:bg-tertiary-950/10"
                href="/CV_Heyder.pdf"
                download={true}
            />
            <Socials />
        </div>
    </div>
</section>