---
import Pill from "./Pill.astro";

const { imageSrc, imageAlt, projectTitle, projectDescription } = Astro.props;
---

<div class="flex flex-col h-fit gap-3">
  <div
    class="relative flex flex-col justify-end p-6 gap-4 h-[28rem] rounded-4xl border-1 border-white/20 overflow-hidden"
  >
    <picture class="absolute inset-0 z-0">
      <img
        src={imageSrc ?? "https://m.media-amazon.com/images/I/71UzjXRiGHL.jpg"}
        alt={imageAlt ?? "Project Image"}
        class="w-full h-full object-cover"
        loading="lazy"
        decoding="async"
      />
    </picture>

    <!-- blur layer -->
    <div class="absolute inset-0 mask-t-from-30% backdrop-blur-md z-1"></div>

    <!-- dark layer -->
    <div class="absolute inset-0 bg-black/30 mask-t-from-30% z-2"></div>

    <div class=" z-10">
      <p class="text-2xl font-semibold line-clamp-2 text-white">
        {projectTitle}
      </p>
    </div>
  </div>

  <div class="p-2">
      <p class="text-sm text-pretty line-clamp-5 text-white/90">
        {projectDescription}
      </p>
  </div>
</div>
