---
import MailIcon from "@/icons/MailIcon.astro";
import GithubIcon from "@/icons/GithubIcon.astro";
import LinkedInIcon from "@/icons/linkedinIcon.astro";
---

<footer class="flex flex-col items-center gap-4 py-12 ring-1 ring-white/10  backdrop-blur-4xl
 text-sm font-['Figtree'] text-white">

    <div class="flex flex-col items-center gap-1">
        <span class="font-light">
            Developed by
            <a href="https://github.com/spricew" 
            class="font-semibold text-tertiary-300"
            target="_blank">
                @spricew
            </a>
        </span>
        <p class="font-light">
            Built with
            <span class="font-semibold">AstroJs</span> 
            and 
            <span class="font-semibold">TailwindCSS</span>
        </p>
    </div>
    
    <ul class="h-full flex gap-1 text-base text-white">
        <a href="mailto:medinaheyder@gmail.com" class="socialLink" aria-label="Email" title="Email">
            <MailIcon class="size-5" />
        </a>
        <a href="https://github.com/spricew" class="socialLink" target="_blank" aria-label="Github" title="Github">
            <GithubIcon class="size-5" />
        </a>
        <a href="https://www.linkedin.com/in/heyderix/" class="socialLink" target="_blank" aria-label="LinkedIn" title="LinkedIn">
            <LinkedInIcon class="size-5" />
        </a>
    </ul>
</footer>

<style>
    .socialLink{
        padding: 0.5rem;
        transition: 0.3s ease-out;
    }
    .socialLink:hover {
        color: var(--color-tertiary-300);
        transform: scale(1.05);
    }
</style>