<div class="flex flex-col gap-4 min-h-40 aspect-square p-8 rounded-xl ring-1 ring-white/10 bg-white/10">
    <!-- <Icon /> -->
     <span class="p-6 bg-amber-300"></span>
    <span>Habilidad</span>
</div>