<nav class="flex justify-between items-center w-full px-48 py-10 text-defaultWhite">
    <div class="flex items-center gap-2">
        <img src="../../../public/images/MexicoFlag.png" alt="Mexico Flag" class="h-6 w-9 object-cover rounded-xs"/>
        <img src="../../../public/images/UsaFlag.png" alt="Mexico Flag" class="h-6 w-9 object-cover rounded-xs"/>
    </div>
    <ul class="flex gap-10">
        <li><a href="#about" class="hover:underline">About</a></li>
        <li><a href="#projects" class="hover:underline">Projects</a></li>
        <li><a href="#contact" class="hover:underline">Contact</a></li>
    </ul>
</nav>
