<nav class="flex justify-end items-center w-full px-48 py-10 text-defaultWhite">
    <ul class="flex gap-10">
        <li><a href="#about" class="hover:underline">About</a></li>
        <li><a href="#projects" class="hover:underline">Projects</a></li>
        <li><a href="#contact" class="hover:underline">Contact</a></li>
    </ul>
</nav>
