<nav class="flex justify-between items-center w-full px-48 py-10 text-white">
    <div class="flex items-center gap-2">
        <img src="/images/MexicoFlag.webp" alt="Mexico Flag" class="scale-in h-6 w-9 object-cover rounded-xs"
        style={"animation-delay: .3s"}/>
        <img src="/images/UsaFlag.webp" alt="USA Flag" class="scale-in h-6 w-9 object-cover rounded-xs"
        style={"animation-delay: .2s"}/>
    </div>
    <ul class="flex gap-6">
        <li class="scale-in" style={"animation-delay: .3s"}>
            <a href="#about" class="block transition duration-300 ease-out hover:scale-110 p-2 hover:text-tertiary-300">About</a>
        </li>
        <li class="scale-in" style={"animation-delay: .4s"}>
            <a href="#projects" class="block transition duration-300 ease-out hover:scale-110 p-2 hover:text-tertiary-300">Projects</a>
        </li>
        <li class="scale-in" style={"animation-delay: .5s"}>
            <a href="mailto: medinaheyder@gmail.com" class="block transition duration-300 ease-out hover:scale-110 p-2 pr-0 hover:text-tertiary-300">Contact</a>
        </li>
    </ul>
</nav>