---
const { pillText } = Astro.props;
---

<div
  class="inline-flex items-center w-fit h-fit px-4 py-2 rounded-full bg-tertiary-950/50 backdrop-blur-md ring-1 ring-tertiary-100/20"
>
  <span class="text-sm font-medium text-tertiary-300">
    {pillText}
  </span>
</div>
