---
const { pillText } = Astro.props;
---

<div class="inline-flex w-fit h-fit px-2 py-1 rounded-lg backdrop-blur-lg bg-tertiary-950/60">
  <span class="capitalize text-sm font-medium text-tertiary-300 font-['Figtree']">
    {pillText}
  </span>
</div>
